.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.meme span{
    position: absolute;
    width: 100%;
    left: 0px;
    margin-top: 307px;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 5px black;

}



.meme span:nth-child(1){
  margin-top: 38px
}


.meme img{
  width: 100%;
}

body, .meme{

background-color: #2C3333;
}

input{
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  height: 20px;
}

select{
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 40px;
}

header{
  background-color: black;
  color: white;
  padding: 30px;
  font-size: 30px;
  box-shadow: 0px 2px 64px rgba(255, 255, 255, 0.2);
}